<section class="border-t border-b bg-white">
  <div class="max-w-7xl mx-auto px-10 py-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      {% for block in section.blocks %}
        <div class="flex items-start gap-4">
          <!-- ICON IMAGE -->
          {% if block.settings.icon != blank %}
            <img
              src="{{ block.settings.icon | image_url: width: 60 }}"
              alt="{{ block.settings.title }}"
              height=""
              width=""
              class="w-10 h-10 object-contain"
            >
          {% endif %}

          <!-- TEXT -->
          <div>
            <h3 class="text-base font-semibold mb-1">
              {{ block.settings.title }}
            </h3>
            <p class="text-sm text-gray-500">
              {{ block.settings.subtitle }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
