<section class="px-30 bg-white py-5">
  <div class="px-10 py-10">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

      {% for block in section.blocks %}
        <div class="flex items-start gap-4">

          <!-- ICON -->
          {% if block.settings.icon != blank %}
            <img
              src="{{ block.settings.icon | image_url: width: 80 }}"
              alt="{{ block.settings.title }}"
              height=""
              width=""
              class="w-12 h-12 object-contain"
            >
          {% endif %}

          <!-- TEXT -->
          <div>
            <h3 class="text-base font-normal mb-1">
              {{ block.settings.title }}
            </h3>
            <p class="text-sm text-gray-500">
              {{ block.settings.subtitle }}
            </p>
          </div>

        </div>
      {% endfor %}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Features Bar",
  "blocks": [
    {
      "type": "feature",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Worldwide Shipping"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "For all Orders Over $100"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features Bar",
      "blocks": [
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" },
        { "type": "feature" }
      ]
    }
  ]
}
{% endschema %}
