<section
  class="w-full md:min-h-[90vh] min-h-[30vh] mt-20 flex items-center"
  style="
    {% if section.settings.image != blank %}
      background-image: url({{ section.settings.image | image_url: width: 2000 }});
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    {% endif %}
  "
>
  <div class="w-full">
    <div class="max-w-7xl md:px-16 px-5">
      <p class="md:text-sm text-xs uppercase tracking-widest font-bold ">Rubans 925 Sterling</p>

      <h1 class="text-xl md:text-6xl font-light leading-tight text-black my-4">
        Rubans Modern Minimal <br> Ring Hoop Earrings
      </h1>

      <p class="text-gray-600 py-8 md:block hidden">Awesome products for the dynamic urban lifestyle</p>

      <a
        href="/collections/all"
        class="inline-block bg-[#ce967e] hover:bg-black text-sm uppercase py-3 px-5 text-white tracking-wide transition duration-700 shop-now"
      >
        Shop Now
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Hero Image"
    }
  ]
}
{% endschema %}
