/* header */
* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.site-header {
    border-bottom: 1px solid #eee;
    background: #fff;
}

.header-inner {
    margin: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo a {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 12px;
    text-decoration: none;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #999898;
    font-weight: 500;
}

.navigation a:hover {
    color: #fffefe;
}

/* hero */

.hero h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 24px;
}

.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
}


/* Main */

.featured-products{
    padding: 100px;
}

.featured-title {
    margin-bottom: 30px;
}

.featured-product-grid {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 40px;
}
.product-card{
    padding: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-card:hover{
    box-shadow: 1px 1px 10px #535252;
}
.featured-products-a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.featured-product-image{
    height: 200px;
}

/* Product */
.product{
    padding: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.product img {
    height: 80%;
    padding: 40px;
    max-width: 100%;
    display: flex;
}

.product h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.product .price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product button {
    padding: 12px 20px;
    margin: 20px 0px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-info {
    padding: 80px 100px 20px 0px;
    text-align: justify;
}

/* collection */
.collection {
    padding: 100px;
}

.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 50px;

}

.collection-item {
    border-radius: 10px;
    border: 1px solid gray;
    width: 300px;
    padding: 20px 0px;
}

.collection-item:hover {
    box-shadow: 1px 1px 10px #696767;
}

.collection-item img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.collection-content {
    text-align: center;
}

.collection-item h3 {
    font-size: 16px;
    margin: 8px 0 4px;
}

.collection-item a {
    text-decoration: none;
    color: #111;
}


/* footer */
.site-footer {
    padding: 30px 20px;
}

.footer-inner {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    text-decoration: none;
    font-size: 14px;
}