/* header */
* {
    margin: 0;
    padding: 0;
}

.site-header {
    border-bottom: 1px solid #eee;
    background: #fff;
}

.header-inner {
    margin: auto;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    color: white;
}

.logo span {
    font-size: 20px;
    font-weight: 400;
    margin-right: 12px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #999898;
    font-weight: 500;
}

.navigation a:hover {
    color: #fffefe;
}

/* hero */

.hero h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 24px;
}

.hero-btn {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
}

/* Main */
.home-main {
  padding: 60px 0;
}

.section-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.product-card img {
  width: 100%;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0 4px;
}

.product-card a {
  text-decoration: none;
  color: #111;
}


/* Product */

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.product img {
    max-width: 100%;
}

.product h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.product .price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product button {
    padding: 12px 20px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* collection */

.collection-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

}

.collection-item {
    border-radius: 20px;
    box-shadow: 1px 1px #959494;
    width: 300px;
}

.collection-item img {
    height: 200px;
    width: 100%;
    object-fit: contain;
}

.collection-content {
    text-align: center;
}

.collection-item h3 {
    font-size: 16px;
    margin: 8px 0 4px;
}

.collection-item a {
    text-decoration: none;
    color: #111;
}



/* footer */
.site-footer {
    padding: 30px 20px;
}

.footer-inner {
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    text-decoration: none;
    font-size: 14px;
}